<div class="" style="display: none; position: absolute;">
  <div class="aui_outer">
    <table class="aui_border">
      <tbody>
      <tr>
        <td class="aui_nw"></td>
        <td class="aui_n"></td>
        <td class="aui_ne"></td>
      </tr>
      <tr>
        <td class="aui_w"></td>
        <td class="aui_c">
          <div class="aui_inner">
            <table class="aui_dialog">
              <tbody>
              <tr>
                <td colspan="2" class="aui_header">
                  <div class="aui_titleBar">
                    <div class="aui_title" style="cursor: move; display: block;"></div>
                    <a class="aui_close" href="javascript:/*artDialog*/;" style="display: block;">×</a></div>
                </td>
              </tr>
              <tr>
                <td class="aui_icon" style="display: none;">
                  <div class="aui_iconBg" style="background-image: none; background-position: initial initial; background-repeat: initial initial;"></div>
                </td>
                <td class="aui_main" style="width: auto; height: auto;">
                  <div class="aui_content" style="padding: 20px 25px;"></div>
                </td>
              </tr>
              <tr>
                <td colspan="2" class="aui_footer">
                  <div class="aui_buttons" style="display: none;"></div>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </td>
        <td class="aui_e"></td>
      </tr>
      <tr>
        <td class="aui_sw"></td>
        <td class="aui_s"></td>
        <td class="aui_se" style="cursor: se-resize;"></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<div style="display:none;">

  <script type="text/javascript"> var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
  document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F30d890f00d2eec6081817cf45de50de5' type='text/javascript'%3E%3C/script%3E")) </script>
  <script src="../javascripts/h.js" type="text/javascript"></script>
  <a href="http://tongji.baidu.com/hm-web/welcome/ico?s=30d890f00d2eec6081817cf45de50de5" target="_blank">
    <img border="0" src="../images/21.gif" width="20" height="20"></a>

</div>

<div class="kv" id="home">

  <div class="caroufredsel_wrapper" style="display: block; text-align: left; float: none; position: relative; top: auto; right: auto; bottom: auto; left: auto; z-index: auto; width: 1840px; height: 569px; margin: 0px; overflow: hidden;">
    <ul id="kv" style="text-align: left; float: none; position: absolute; top: 0px; right: auto; bottom: auto; left: 0px; margin: 0px; width: 16560px; height: 569px; z-index: auto; opacity: 1;">

      <li style="background-image: url(../images/kv3.jpg); width: 1840px; background-position: 50% 0%; background-repeat: no-repeat no-repeat;">
        <a href="http://z3web.net/Index-works.html" target="_blank"></a></li>

      <li style="background-image: url(../images/kv4.jpg); width: 1840px; background-position: 50% 0%; background-repeat: no-repeat no-repeat;">
        <a href="http://z3web.net/Index-works.html" target="_blank"></a></li>

      <li style="background-image: url(../images/kv1.jpg); width: 1840px; background-position: 50% 0%; background-repeat: no-repeat no-repeat;">
        <a href="http://z3web.net/Index-works.html" target="_blank"></a></li>

      <li style="background-image: url(../images/kv2.jpg); width: 1840px; background-position: 50% 0%; background-repeat: no-repeat no-repeat;">
        <a href="http://z3web.net/Index-works.html" target="_blank"></a></li>
    </ul>
  </div>

  <a href="javascript:;" id="kv_prev" class="kv_prev" style="display: block;"></a>

  <a href="javascript:;" id="kv_next" class="kv_next" style="display: block;"></a>

  <div class="kv_page" id="kv_page" style="display: block;">
    <a href="javascript:;"></a><a href="javascript:;"></a><a href="javascript:;" class="selected"></a><a href="javascript:;"></a>
  </div>

</div>

<div class="nav cl">
  <div class="container">
    <a href="#" class="logo"></a>
    <ul class="menu" id="nav">
      <li class="mu_home current">
        <a href="http://www.jlsgg.com/#home" title="网站首页" class="selected"><span>HOME</span><em>网站首页</em></a></li>
      <li class="pipe"></li>
      <li class="mu_about"><a href="http://www.jlsgg.com/#about" title="关于我们"><span>ABOUT US</span><em>关于我们</em></a>
      </li>
      <li class="pipe"></li>
      <li class="mu_works"><a href="http://www.jlsgg.com/#works" title="作品展示"><span>WORKS</span><em>作品展示</em></a></li>
      <li class="pipe"></li>
      <li class="mu_service"><a href="http://www.jlsgg.com/#service" title="服务报价"><span>SERVICE</span><em>服务报价</em></a>
      </li>
      <li class="pipe"></li>
      <li class="mu_news"><a href="http://www.jlsgg.com/#news" title="新闻中心"><span>NEWS</span><em>新闻中心</em></a></li>
      <li class="pipe"></li>
      <li class="mu_contact"><a href="http://www.jlsgg.com/#contact" title="联系我们"><span>CONTACT</span><em>联系我们</em></a>
      </li>
      <li class="back" style="left: 0px;"></li>
    </ul>
  </div>
</div>

<div class="about cl">

<div id="about" style="position:absolute;top:0px;left:0px;"></div>

<div class="container">

<div class="cat" id="about_cat">

  <a href="javascript:;" class="selected" title="关于我们">BH是谁</a><span class="pipe"></span>

  <a href="javascript:;" title="核心优势">公司介绍</a><span class="pipe"></span>

  <a href="javascript:;" title="百合招聘">百合招聘</a>

</div>

<div class="caroufredsel_wrapper" style="display: block; text-align: left; float: none; position: relative; top: auto; right: auto; bottom: auto; left: auto; z-index: auto; width: 980px; height: 330px; margin: 0px; overflow: hidden;">
<div id="about_con" style="text-align: left; float: none; position: absolute; top: 0px; right: auto; bottom: auto; left: 0px; margin: 0px; width: 6860px; height: 330px;">

<div class="brand" id="brand" style="width: 980px;">

  <div class="title"></div>

  <div class="con">

    <div class="brand_l"></div>

    <div class="brand_c">

      <ul class="z3_des">
        <!-- 百合 -->
        <li>
          <a href="javascript:;" onclick="showteam(this)"><em>1、吉林省<span>百合文化传媒</span>有限公司</em></a>

          <div class="data_con" style="display:none;">
            <div class="newinfo">
              <h4 class="title">吉林省百合文化传媒有限公司</h4>

              <p class="time">BAIHE MEDIA</p>
              <a class="close" href="javascript:;"></a>

              <div class="con">
                <b style="color:#333333">职位概述：</b>
                吉林省百合文化传媒有限公司是一家经验丰富的具有策划、组织、制作和包装各类演出的演艺公司，可为您提供各类大、中、小型文艺演
                出活动。我们成功策划举办多次大型文艺演出活动。公司现有各类演艺人员一百多名，包括歌手、舞蹈、摇滚乐队、民族乐队、相声、魔
                术和少数名族歌舞组合等。
                百合承接的演出活动有：专场文艺晚会、中秋节晚会、圣诞晚会、元旦晚会、新春音乐会、春节晚会、春晚策划、大型商业演出等。还协
                助企业策划承办各类礼仪庆典、文艺汇演、宴会、时装秀、车展秀、周年庆、发布会、节日晚会、名流商会、启动典礼、楼盘SHOW等活
                动。同时，百合还为您提供乐器、音响、舞台、礼仪服装的租赁服务。
                百合文化艺术有限公司是经长春市文化广播影视管理局批准并持有演出许可证的文化演艺机构，是专业从事大型文艺演出、活动策划与执
                行的演出公司。百合文化艺术有限公司主要为中外知名企业担纲活动策划、文艺演出、企业庆典、会务会展、品牌创意、产品推广、新闻
                发布会等相关活动的概念包装、前期策划、总体执行。
                百合文化艺术有限公司多年来积累了丰富的活动策划和舞台演出操作经验，并拥有一流的节目策划团队、庞大的中外演艺资源、丰富的舞
                台设计搭建经验、良好的媒介关系和众多成功的大型特色活动举办经验。
                百合文化艺术有限公司将本着信誉、权威、专业的经营理念，以诚信合作，认真负责的工作态度，以让您耳目一新的活动策划，节目编排，
                以艺术专业的视角，理解您的意图，拓展您的思路，与您携手为您开创卓越、辉煌。
                近年来，随着中国传统文化在全世界掀起的新浪潮中，中国传统歌舞表演艺术已经得到全世界艺术大师的认可以及无数世界各地观众惊叹
                与欣赏，我公司以在国内从事文化艺术工作多年积累的客户群与操作经验，诚寻世界各地艺术公司合作，让中国传统艺术在全世界大放异
                彩，让全球观众更多更好的欣赏到高水准的中国传统艺术表演。
                自始至终百合“以质量求生存，以创新求发展”，努力为企业和品牌创造良好的形象，努力为客户的品牌与消费者架起一座双赢的桥梁为方向。
                <br><br>
              </div>
            </div>
          </div>
        </li>

        <li>
          <a href="http://www.jlsgg.com/#works">2、百合文化传媒<span>最新案例</span></a>
        </li>

        <li>
          <a href="http://www.jlsgg.com/#news">3、最新新闻<span>（了解最新资讯）</span></a>
        </li>

        <!-- end -->
      </ul>
    </div>
    <div class="brand_r"></div>
  </div>
</div>

<div class="core" id="core" style="width: 980px;">

  <div class="title"></div>

  <div class="core_con">

    <ul class="con cl">

      <li class="con_1" style="980px;"></li>

    </ul>

  </div>

</div>

<div class="team" id="team" style="width: 980px;">

  <div class="title"></div>

  <ul class="con">

    <li class="con_1">

      <a href="javascript:;" onclick="showteam(this)"><em></em></a>

      <h3>加入文案</h3>

      <p>Join us</p>

      <div class="data_con" style="display:none;">

        <div class="newinfo">

          <h4 class="title">加入文案</h4>

          <p class="time">Join us</p>

          <a class="close" href="javascript:;"></a>

          <div class="con">
            <b style="color:#333333">职位概述：</b>
            岗位职位：<br/>
            1、 负责公司各类活动的相关文案支持，如产品推广、活动策划、新闻报道等；<br/>
            2、 执行所负责项目的全案企划创意、文案及相关执行工作；<br/>
            3、 负责策划编辑公司网站及微信、微博对外平台的相关信息内容；<br/>
            4、 负责公司相关对外提案的执行；
            <br/><br/>
            岗位要求：<br/>
            1、 本科以上学历，汉语言文学、新闻传播、广告、市场营销类相关专业优先；<br/>
            2、 两年以上文案策划工作经验；<br/>
            3、 有金融、媒体、电子商务从业经历者，可优先考虑；<br/>
            4、 具备扎实文字表现能力和功底，具备一定的新闻敏感度；<br/>
            5、 具备各类文案如策划案、邀请函、新闻稿、活动提案的独立撰写能力；<br/>
            6、 具备一定的沟通能力和团队合作意识；
            <br/><br/>
            <b style="color:#333333">岗位要求：</b>
            学历要求：全日制统招本科<br/>
            性别要求：女<br/>
            语言要求：英语 + 普通话<br/>
            专业要求：不限<br/>
            年龄要求：20-30<br/>
            工作年限：1年以上
          </div>

        </div>

      </div>

    </li>

    <li class="con_2">

      <a href="javascript:;" onclick="showteam(this)"><em></em></a>

      <h3>加入企划</h3>

      <p>Join us</p>

      <div class="data_con" style="display:none;">

        <div class="newinfo">

          <h4 class="title">加入企划</h4>

          <p class="time">Join us</p>

          <a class="close" href="javascript:;"></a>

          <div class="con">
            <b style="color:#333333">职位概述：</b>
            具有3年以上大型企业、商场、百货活动独立策划经验。具备良好的创意思维、活动策划、文案撰写以及品牌推广能力。
            <br><br>
          </div>

        </div>

      </div>

    </li>

    <li class="con_3">

      <a href="javascript:;" onclick="showteam(this)"><em></em></a>

      <em></em>

      <h3>加入销售</h3>

      <p>Join us</p>

      <div class="data_con" style="display:none;">

        <div class="newinfo">

          <h4 class="title">加入销售</h4>

          <p class="time">Join us</p>

          <a class="close" href="javascript:;"></a>

          <div class="con">
            <b style="color:#333333">职位概述：</b>
            要求年龄30岁以下，从事销售工作3年以上，能独立运作市场，勤奋善于沟通，有明确的人生目标，有创业赚钱的强烈愿望，把销售仅当成工作的人我公司不考虑。
          </div>

        </div>

      </div>

    </li>

    <li class="con_4">

      <a href="http://www.jlsgg.com/#contact"></a>

      <em></em>

      <h3>加入我们</h3>

      <p>JION US</p>

    </li>

  </ul>

</div>

</div>
</div>

</div>

</div>

<div class="works cl">

  <div id="works" style="position:absolute;top:-80px;left:0px;"></div>

  <div class="container">

    <div class="title"></div>

    <div class="works_page" id="works_page" style="display: block;">
      <a href="javascript:;" class="selected"></a><a href="javascript:;"></a><a href="javascript:;"></a><a href="javascript:;"></a><a href="javascript:;"></a>
      <a href="javascript:;"></a>
    </div>

    <a href="javascript:;" class="prev disabled" id="works_prev" style="display: block;"></a>

    <a href="javascript:;" class="next" id="works_next" style="display: block;"></a>

    <a class="works_more" href="#" target="_blank" title="更多作品"></a>

    <div class="works_main">

      <div class="works_con">

        <div class="caroufredsel_wrapper" style="display: block; text-align: left; float: none; position: relative; top: auto; right: auto; bottom: auto; left: auto; z-index: auto; width: 1020px; height: 234px; margin: 0px; overflow: hidden;">
          <ul class="con" id="works_con" style="text-align: left; float: none; position: absolute; top: 0px; right: auto; bottom: auto; left: 0px; margin: 0px; width: 13260px; height: 234px;">

            <% @roll.each do |q| %>
                <li>
                  <a href="javascript:;" title="<%= q.title %>" onclick="showwindow(this)" data="<%= my_datetime q.created_at %>">
                    <%= image_tag q.avatar.url(:index) %><em></em></a>

                  <h4><%= q.title %></h4>

                  <p><%= my_datetime q.created_at %></p>

                  <div class="data_con" style="display:none;">
                    <%= image_tag q.avatar.url(:original) %>
                    <p><%= q.description %></p>

                    <p><br></p>

                  </div>

                </li>
            <% end %>

          </ul>
        </div>

      </div>

    </div>

    <div class="ads"></div>

  </div>

</div>

<div class="service cl">

  <div id="service" style="position:absolute;top:-240px;left:0px;"></div>

  <div class="container">

    <div class="cat" id="service_cat">
      <a href="javascript:;" class="selected" title="项目服务">项目服务</a><span class="pipe"></span>
      <a href="javascript:;" title="服务流程">服务流程</a>
    </div>

    <div class="caroufredsel_wrapper" style="display: block; text-align: left; float: none; position: relative; top: auto; right: auto; bottom: auto; left: auto; z-index: auto; width: 980px; height: 380px; margin: 0px; overflow: hidden;">
      <div id="service_con" style="text-align: left; float: none; position: absolute; top: 0px; right: auto; bottom: auto; left: 0px; margin: 0px; width: 4900px; height: 380px;">
        <div class="srv_pro" id="srv_pro" style="width: 980px;">
          <div class="title"></div>
          <div class="con">
            <div class="con_1"></div>
            <div class="con_2"></div>
            <div class="con_3"></div>
            <div class="con_4"></div>
          </div>
        </div>
        <div class="srv_line" id="srv_line" style="width: 980px;">
          <div class="title"></div>
          <div class="con"></div>
        </div>
      </div>
    </div>
  </div>
  <a href="http://www.jlsgg.com/" class="top selected"></a>
</div>

<div class="news cl">
  <div id="news" style="position:absolute;top:-80px;left:0px;"></div>
  <div class="container">
    <div class="title"></div>
    <div class="news_page">

      <a href="javascript:;" id="news_prev" class="disabled" style="display: inline;">&lt; PREV</a>&nbsp;&nbsp;
      <span id="news_page" class="" style="display: inline;">
        <a href="javascript:;" class="selected"><%= paginate @roll %></a>
        <a href="javascript:;">2</a>
      </span>
      <a href="javascript:;" id="news_next" class="" style="display: inline;">NEXT &gt;</a>

    </div>

    <div class="news_main">
      <div class="news_con">

        <div class="caroufredsel_wrapper" style="display: block; text-align: left; float: none; position: relative; top: auto; right: auto; bottom: auto; left: auto; z-index: auto; width: 1020px; height: 235px; margin: 0px; overflow: hidden;">
          <ul class="con" id="news_con" style="text-align: left; float: none; position: absolute; top: 0px; right: auto; bottom: auto; left: 0px; margin: 0px; width: 5100px; height: 235px;">
            <% @journalisms.each do |q| %>
                <li>

                  <a href="javascript:;" title="<%= q.title %>" onclick="showwindow(this)" data="<%= my_datetime q.created_at %>">

                    <%= image_tag q.avatar.url(:index) %><em></em></a>

                  <h4><%= q.title %></h4>

                  <p><%= truncate_u(q.descrpiton, 40) %></p>

                  <div class="data_con" style="display:none;">

                    <p><%= q.descrpiton %></p>

                    <p><br></p>

                  </div>

                </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="contact" id="contact">

  <div class="container">

    <div class="address">长春国际商务中心A3-806室</div>

    <div class="weibo">940881001@qq.com</div>

    <div class="tel">13596142999（程总)&nbsp;&nbsp;&nbsp;&nbsp;15504481011 (宋浩然)</div>

    <div class="qq">
      <a href="http://wpa.qq.com/msgrd?v=3&uin=940881001&site=qq&menu=yes" target="_blank">940881001</a>
      (在线咨询)
    </div>


  </div>


  <a href="http://www.jlsgg.com/" class="top"></a>

</div>

<div class="ft">

</div>

<div class="newinfo" id="newinfo">

  <h4 class="title"></h4>

  <p class="time"></p>

  <a class="close" href="javascript:;"></a>

  <div class="con"></div>

</div>

<script type="text/javascript" src="../javascripts/jquery.scrollTo.js"></script>

<script type="text/javascript" src="../javascripts/jquery.nav.js"></script>

<script type="text/javascript">

    $(function () {

        $(window).scroll(function () {

            if ($(window).scrollTop() > 569) {

                $('.nav').addClass('selected');

            } else {

                $('.nav').removeClass('selected');

            }
            ;

        });

        $('#nav').onePageNav({

            filter: ':not(.external)',

            scrollThreshold: 0.25,

            scrollOffset: 0,

            end: function () {

                var $left = $('.current').position().left;

                $('#nav .back').stop().animate({'left': $left}, "fast");

            },

            scrollChange: function () {

                var $left = $('.current').position().left;

                $('#nav .back').stop().animate({'left': $left}, "fast");

            }

        });

    });

</script>
