<div class="" style="display: none; position: absolute;">
  <div class="aui_outer">
    <table class="aui_border">
      <tbody>
      <tr>
        <td class="aui_nw"></td>
        <td class="aui_n"></td>
        <td class="aui_ne"></td>
      </tr>
      <tr>
        <td class="aui_w"></td>
        <td class="aui_c">
          <div class="aui_inner">
            <table class="aui_dialog">
              <tbody>
              <tr>
                <td colspan="2" class="aui_header">
                  <div class="aui_titleBar">
                    <div class="aui_title" style="cursor: move; display: block;"></div>
                    <a class="aui_close" href="javascript:/*artDialog*/;" style="display: block;">×</a></div>
                </td>
              </tr>
              <tr>
                <td class="aui_icon" style="display: none;">
                  <div class="aui_iconBg" style="background-image: none; background-position: initial initial; background-repeat: initial initial;"></div>
                </td>
                <td class="aui_main" style="width: auto; height: auto;">
                  <div class="aui_content" style="padding: 20px 25px;"></div>
                </td>
              </tr>
              <tr>
                <td colspan="2" class="aui_footer">
                  <div class="aui_buttons" style="display: none;"></div>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </td>
        <td class="aui_e"></td>
      </tr>
      <tr>
        <td class="aui_sw"></td>
        <td class="aui_s"></td>
        <td class="aui_se" style="cursor: se-resize;"></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<div style="display:none;">

  <script type="text/javascript"> var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
  document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F30d890f00d2eec6081817cf45de50de5' type='text/javascript'%3E%3C/script%3E")) </script>
  <script src="../javascripts/h.js" type="text/javascript"></script>
  <a href="http://tongji.baidu.com/hm-web/welcome/ico?s=30d890f00d2eec6081817cf45de50de5" target="_blank">
    <img border="0" src="../images/21.gif" width="20" height="20"></a>

</div>

<div class="kv" id="home">

  <div class="caroufredsel_wrapper" style="display: block; text-align: left; float: none; position: relative; top: auto; right: auto; bottom: auto; left: auto; z-index: auto; width: 1840px; height: 569px; margin: 0px; overflow: hidden;">
    <ul id="kv" style="text-align: left; float: none; position: absolute; top: 0px; right: auto; bottom: auto; left: 0px; margin: 0px; width: 16560px; height: 569px; z-index: auto; opacity: 1;">

      <li style="background-image: url(../images/kv3.jpg); width: 1840px; background-position: 50% 0%; background-repeat: no-repeat no-repeat;">
        <a href="http://z3web.net/Index-works.html" target="_blank"></a></li>

      <li style="background-image: url(../images/kv4.jpg); width: 1840px; background-position: 50% 0%; background-repeat: no-repeat no-repeat;">
        <a href="http://z3web.net/Index-works.html" target="_blank"></a></li>

      <li style="background-image: url(../images/kv1.jpg); width: 1840px; background-position: 50% 0%; background-repeat: no-repeat no-repeat;">
        <a href="http://z3web.net/Index-works.html" target="_blank"></a></li>

      <li style="background-image: url(../images/kv2.jpg); width: 1840px; background-position: 50% 0%; background-repeat: no-repeat no-repeat;">
        <a href="http://z3web.net/Index-works.html" target="_blank"></a></li>
    </ul>
  </div>

  <a href="javascript:;" id="kv_prev" class="kv_prev" style="display: block;"></a>

  <a href="javascript:;" id="kv_next" class="kv_next" style="display: block;"></a>

  <div class="kv_page" id="kv_page" style="display: block;">
    <a href="javascript:;"></a><a href="javascript:;"></a><a href="javascript:;" class="selected"></a><a href="javascript:;"></a>
  </div>

</div>

<div class="nav cl">
  <div class="container">
    <a href="#" class="logo"></a>
    <ul class="menu" id="nav">
      <li class="mu_home current">
        <a href="127.0.0.1:3000/#home" title="网站首页" class="selected"><span>HOME</span><em>网站首页</em></a></li>
      <li class="pipe"></li>
      <li class="mu_about"><a href="127.0.0.1:3000/#about" title="关于我们"><span>ABOUT US</span><em>关于我们</em></a></li>
      <li class="pipe"></li>
      <li class="mu_works"><a href="127.0.0.1:3000/#works" title="作品展示"><span>WORKS</span><em>作品展示</em></a></li>
      <li class="pipe"></li>
      <li class="mu_service"><a href="127.0.0.1:3000/#service" title="服务报价"><span>SERVICE</span><em>服务报价</em></a></li>
      <li class="pipe"></li>
      <li class="mu_news"><a href="127.0.0.1:3000/#news" title="新闻中心"><span>NEWS</span><em>新闻中心</em></a></li>
      <li class="pipe"></li>
      <li class="mu_contact"><a href="127.0.0.1:3000/#contact" title="联系我们"><span>CONTACT</span><em>联系我们</em></a></li>
      <li class="back" style="left: 0px;"></li>
    </ul>
  </div>
</div>

<div class="about cl">

  <div id="about" style="position:absolute;top:0px;left:0px;"></div>

  <div class="container">

    <div class="cat" id="about_cat">

      <a href="javascript:;" class="selected" title="关于我们">BH是谁</a><span class="pipe"></span>

      <a href="javascript:;" title="核心优势">公司介绍</a><span class="pipe"></span>

      <a href="javascript:;" title="团队介绍">团队介绍</a>

    </div>

    <div class="caroufredsel_wrapper" style="display: block; text-align: left; float: none; position: relative; top: auto; right: auto; bottom: auto; left: auto; z-index: auto; width: 980px; height: 330px; margin: 0px; overflow: hidden;">
      <div id="about_con" style="text-align: left; float: none; position: absolute; top: 0px; right: auto; bottom: auto; left: 0px; margin: 0px; width: 6860px; height: 330px;">

        <div class="brand" id="brand" style="width: 980px;">

          <div class="title"></div>

          <div class="con">

            <div class="brand_l"></div>

            <div class="brand_c">

              <ul class="z3_des">

                <li>
                  <a href="http://www.68design.net/Interview/Designers/65857-1.html" target="_blank">1、Z3是<span>68DESIG专访设计师</span></a>
                </li>

                <li><a href="http://www.ywxue.com/teacher/" target="_blank">2、Z3是一网学(全国远程授课平台)<span>网页视觉设计讲师</span></a>
                </li>

                <li><a href="http://my.68design.net/99451" target="_blank">3、Z3是68DESIGN网页设计师联盟<span>推荐设计师</span></a>
                </li>

                <li>4<a href="http://my.68design.net/99451/works" target="_blank">、Z3作品多次被设计师联盟，SJ63，站酷，等<span>平台收录</span></a>
                </li>

                <li><a href="http://www.68design.net/pinpai/km.html" target="_blank">5、Z3是68DESIGN网页设计师联盟合作交流设计师</a>
                </li>

              </ul>

            </div>

            <div class="brand_r"></div>

          </div>

        </div>

        <div class="core" id="core" style="width: 980px;">

          <div class="title"></div>

          <div class="core_con">

            <ul class="con cl">

              <li class="con_1" style="980px;"></li>

            </ul>

          </div>

        </div>

        <div class="team" id="team" style="width: 980px;">

          <div class="title"></div>

          <ul class="con">

            <li class="con_1">

              <a href="javascript:;" onclick="showteam(this)"><em></em></a>

              <h3>创意设计（name？）</h3>

              <p>english name？</p>

              <div class="data_con" style="display:none;">

                <div class="newinfo">

                  <h4 class="title">创意设计（name？）</h4>

                  <p class="time">english name？</p>

                  <a class="close" href="javascript:;"></a>

                  <div class="con">
                    <b style="color:#333333">职位概述：</b>
                    洞察细微，在生活中寻找灵感，享受创意解决难题乐趣，沉迷于自找麻烦和自寻死路中，所有的奇思异想，只为让你变得与众不同。
                    <br><br>
                    <b style="color:#333333">个人简介：</b>
                    从事互动设计行业4年,FLASH63(全国远程授课平台)兼职网页视觉设计讲师，国内知名网页设计师交流平台68DESIGN网页设计师联盟推荐设计师,优秀设计师，资深设计师.作品多次被68DESIGN网页设计师联盟，SJ63，站酷，UEHTML，等国内专业平台收录推荐..
                  </div>

                </div>

              </div>

            </li>

            <li class="con_2">

              <a href="javascript:;" onclick="showteam(this)"><em></em></a>

              <h3>技术工程（name？）</h3>

              <p>english name？</p>

              <div class="data_con" style="display:none;">

                <div class="newinfo">

                  <h4 class="title">技术工程（name？）</h4>

                  <p class="time">english name？</p>

                  <a class="close" href="javascript:;"></a>

                  <div class="con">
                    <b style="color:#333333">职位概述：</b>
                    头脑发达、四肢简单，对美女毫无抵抗力。使用语言：PHP JAVA C
                    AS等。喜欢挑战极限，不达目标誓不罢休，热爱团队协作，如狼群般敏锐灵活，是最IN的潮人+宅男，对未知世界有预见能力，渴望获取最前沿的技术。<br><br>
                    <b style="color:#333333">个人简介：</b>
                    5年WEB项目经验，互联网产品架构师，系统分析师，拥有敏锐的技术嗅觉，不断的探索互联网先进的应用技术，参与过大量的前端项目开发，积累了丰富的前端开发经验。
                  </div>

                </div>

              </div>

            </li>

            <li class="con_3">

              <a href="javascript:;" onclick="showteam(this)"><em></em></a>

              <em></em>

              <h3>运营总监（name？）</h3>

              <p>english name？</p>

              <div class="data_con" style="display:none;">

                <div class="newinfo">

                  <h4 class="title">运营总监（name？）</h4>

                  <p class="time">english name？</p>

                  <a class="close" href="javascript:;"></a>

                  <div class="con">
                    <b style="color:#333333">职位概述：</b>
                    上帝赐予我光鲜的外表，职场练就我过人的EQ。发现问题，处理危机是我的强项；市场调查，追踪用户满意度是我的职责。攻城拔寨舌战群雄为的不是呈一时舌快，而是急客户之所急，某客户之所需。
                  </div>

                </div>

              </div>

            </li>

            <li class="con_4">

              <a href="http://z3web.net/#contact"></a>

              <em></em>

              <h3>加入我们</h3>

              <p>JION US</p>

            </li>

          </ul>

        </div>

      </div>
    </div>

  </div>

</div>

<div class="works cl">

  <div id="works" style="position:absolute;top:-80px;left:0px;"></div>

  <div class="container">

    <div class="title"></div>

    <div class="works_page" id="works_page" style="display: block;">
      <a href="javascript:;" class="selected"></a><a href="javascript:;"></a><a href="javascript:;"></a><a href="javascript:;"></a><a href="javascript:;"></a>
      <a href="javascript:;"></a>
    </div>

    <a href="javascript:;" class="prev disabled" id="works_prev" style="display: block;"></a>

    <a href="javascript:;" class="next" id="works_next" style="display: block;"></a>

    <a class="works_more" href="#" target="_blank" title="更多作品"></a>

    <div class="works_main">

      <div class="works_con">

        <div class="caroufredsel_wrapper" style="display: block; text-align: left; float: none; position: relative; top: auto; right: auto; bottom: auto; left: auto; z-index: auto; width: 1020px; height: 234px; margin: 0px; overflow: hidden;">
          <ul class="con" id="works_con" style="text-align: left; float: none; position: absolute; top: 0px; right: auto; bottom: auto; left: 0px; margin: 0px; width: 13260px; height: 234px;">

            <% @roll.each do |q| %>
                <li>
                  <a href="javascript:;" title="Z3视觉互动交流群：253746714" onclick="showwindow(this)" data="<%= my_datetime q.created_at %>">
                    <%= image_tag q.avatar.url(:index) %><em></em></a>

                  <h4><%= q.title %></h4>

                  <p><%= my_datetime q.created_at %></p>

                  <div class="data_con" style="display:none;">

                    <p><%= q.description %></p>

                    <p><br></p>

                  </div>

                </li>
            <% end %>

          </ul>
        </div>

      </div>

    </div>

    <div class="ads"></div>

  </div>

</div>

<div class="service cl">

  <div id="service" style="position:absolute;top:-240px;left:0px;"></div>

  <div class="container">

    <div class="cat" id="service_cat">
      <a href="javascript:;" class="selected" title="项目服务">项目服务</a><span class="pipe"></span>
      <a href="javascript:;" title="服务流程">服务流程</a>
    </div>

    <div class="caroufredsel_wrapper" style="display: block; text-align: left; float: none; position: relative; top: auto; right: auto; bottom: auto; left: auto; z-index: auto; width: 980px; height: 380px; margin: 0px; overflow: hidden;">
      <div id="service_con" style="text-align: left; float: none; position: absolute; top: 0px; right: auto; bottom: auto; left: 0px; margin: 0px; width: 4900px; height: 380px;">
        <div class="srv_pro" id="srv_pro" style="width: 980px;">
          <div class="title"></div>
          <div class="con">
            <div class="con_1">为客户提供专业化、品牌化的网站界面设计、网站策划、网站建设与研发等。</div>
            <div class="con_2">为 WINDOWS / MAC / OS / LINUX 等提供个性化的软件界面设计方案。</div>
            <div class="con_3">为移动设备、平板电脑、移动产品等终端提供交互流程及界面设计服务。包括IOS、Android、Win等多平台。</div>
            <div class="con_4">如果您那边是网络公司，如果您希望您的案例能够脱颖而出，那我们像您发出合作邀请，为您提供高质量的网站设计以及开发</div>
          </div>
        </div>
        <div class="srv_line" id="srv_line" style="width: 980px;">
          <div class="title"></div>
          <div class="con"></div>
        </div>
      </div>
    </div>
  </div>
  <a href="http://z3web.net/#" class="top selected"></a>
</div>

<div class="news cl">
  <div id="news" style="position:absolute;top:-80px;left:0px;"></div>
  <div class="container">
    <div class="title"></div>
    <div class="news_page">

      <a href="javascript:;" id="news_prev" class="disabled" style="display: inline;">&lt; PREV</a>&nbsp;&nbsp;
      <span id="news_page" class="" style="display: inline;">
        <a href="javascript:;" class="selected"><%= paginate @roll %></a>
        <a href="javascript:;">2</a>
      </span>
      <a href="javascript:;" id="news_next" class="" style="display: inline;">NEXT &gt;</a>

    </div>

    <div class="news_main">
      <div class="news_con">

        <div class="caroufredsel_wrapper" style="display: block; text-align: left; float: none; position: relative; top: auto; right: auto; bottom: auto; left: auto; z-index: auto; width: 1020px; height: 235px; margin: 0px; overflow: hidden;">
          <ul class="con" id="news_con" style="text-align: left; float: none; position: absolute; top: 0px; right: auto; bottom: auto; left: 0px; margin: 0px; width: 5100px; height: 235px;">
            <% @journalisms.each do |q| %>
                <li>

                  <a href="javascript:;" title="Z3视觉互动交流群：253746714" onclick="showwindow(this)" data="<%= my_datetime q.created_at %>">

                    <%= image_tag q.avatar.url(:index) %><em></em></a>

                  <h4><%= q.title %></h4>

                  <p><%= truncate_u(q.descrpiton, 40) %></p>

                  <div class="data_con" style="display:none;">

                    <p><%= q.descrpiton %></p>

                    <p><br></p>

                  </div>

                </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="contact" id="contact">

  <div class="container">

    <div class="address">长春市南关区解放大路与平阳街交汇吉宇大厦B座</div>

    <div class="weibo">z3web@sinna.com</div>

    <div class="tel">13333333333 (张经理)</div>

    <div class="qq">
      <a href="tencent://message/?uin=315046509&Site=z3%E8%A7%86%E8%A7%89%E4%BA%92%E5%8A%A8&Menu=yes" target="_blank">315046509</a>
      (在线咨询)
    </div>


  </div>


  <a href="http://127.0.0.1:3000/#" class="top"></a>

</div>

<div class="ft">

</div>

<div class="newinfo" id="newinfo">

  <h4 class="title"></h4>

  <p class="time"></p>

  <a class="close" href="javascript:;"></a>

  <div class="con"></div>

</div>

<script type="text/javascript" src="../javascripts/jquery.scrollTo.js"></script>

<script type="text/javascript" src="../javascripts/jquery.nav.js"></script>

<script type="text/javascript">

    $(function () {

        $(window).scroll(function () {

            if ($(window).scrollTop() > 569) {

                $('.nav').addClass('selected');

            } else {

                $('.nav').removeClass('selected');

            }
            ;

        });

        $('#nav').onePageNav({

            filter: ':not(.external)',

            scrollThreshold: 0.25,

            scrollOffset: 0,

            end: function () {

                var $left = $('.current').position().left;

                $('#nav .back').stop().animate({'left': $left}, "fast");

            },

            scrollChange: function () {

                var $left = $('.current').position().left;

                $('#nav .back').stop().animate({'left': $left}, "fast");

            }

        });

    });

</script>
